.force-scroll{
    overflow-y: scroll;

height: 200px;
}
.ng-autocomplete {
    width: 100%;
}
.autocomplete-container .input-container input {
    border-radius: 5px !important;
    height: 50px !important;
}

.person-details-area .details-item .bottom-item {
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1.5px solid #221668;
}
.ptb-100 {
    padding-top: 50px !important;
}
