<!-- Navbar -->
<app-navbar-style-three></app-navbar-style-three>
<!-- End Navbar -->

<!-- Page Title -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="title-item">
                    <h2>Dashboard</h2>
                    <ul>
                        <li>
                            <img src="assets/img/home-three/title-img-two.png" alt="Image">
                            <a routerLink="/">Home</a>
                        </li>
                        <li><span>/</span></li>
                        <li>Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->

<!-- Dashboard -->
<div class="dashboard-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="profile-item">
                    <img src="assets/img/dashboard1.jpg" alt="Dashboard">
                    <h2>{{name}}</h2>
                    <span>{{designation}}</span>
                </div>

                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" id="v-pills-basicInfo-tab" data-bs-toggle="pill" role="tab"
                        aria-controls="v-pills-basicInfo" aria-selected="true" [routerLink]="['/candidate/dashboard', userId]"
                        routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        <i class='bx bx-user'></i>
                        Basic Info</a>

                    <a class="nav-link" id="v-pills-education-tab" data-bs-toggle="pill" routerLink="education"
                        role="tab" aria-controls="v-pills-education" aria-selected="false" routerLinkActive="active">
                        <div class="profile-list">
                            <i class="bx bxs-layer"></i>
                            Education
                        </div>
                    </a>

                    <a class="nav-link" id="v-pills-experience-tab" data-bs-toggle="pill" routerLink="experience"
                        role="tab" aria-controls="v-pills-experience" aria-selected="false" routerLinkActive="active">
                        <div class="profile-list">
                            <i class="bx bxs-receipt"></i>
                            Experience
                        </div>
                    </a>

                    <a class="nav-link" id="v-pills-projects-tab" data-bs-toggle="pill" routerLink="projects"
                        role="tab" aria-controls="v-pills-projects" aria-selected="false" routerLinkActive="active">
                        <div class="profile-list">
                            <i class='bx bxs-inbox'></i>
                            Projects
                        </div>
                    </a>

                    <a class="nav-link" id="v-pills-skills-tab" data-bs-toggle="pill" routerLink="skillsLanguages"
                        role="tab" aria-controls="v-pills-skills" aria-selected="false" routerLinkActive="active">
                        <div class="profile-list">
                            <i class="bx bxs-brain"></i>
                            Skills, Languages
                        </div>
                    </a>
                    <a routerLink="single-resume">
                        <div class="profile-list"><i class='bx bx-note'></i> My Resume</div>
                    </a>

                    <a class="nav-link-logout">
                        <div class="profile-list" (click)="onLogout($event)"><i class='bx bx-log-out'></i> Logout</div>
                    </a>
                </div>
            </div>

            <div class="col-lg-8 col-md-12">
                <div class="tab-content" id="v-pills-tabContent">

                    <router-outlet></router-outlet>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Dashboard -->

<!-- Footer -->
<app-footer-style-two></app-footer-style-two>
<!-- End Footer -->
