<!-- Jobs -->
<section class="job-area pb-100">
    <div class="container sch-container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12">
                <div class="section-title">
                    <span class="sub-title">Schedules sent by the employers</span>
                    <h2>Schedule Intervews</h2>
                </div>
            </div>

            <div class="col-lg-5 col-md-12">
                <div class="sorting-menu">
                    <ul>
                        <li class="filter" data-filter="all">All</li>
                        <li class="filter" data-filter=".m">Internship</li>
                        <li class="filter" data-filter=".n">Full Time</li>
                        <li class="filter" data-filter=".o">Part Time</li>
                        <li class="filter" data-filter=".p">Remote</li>
                        <li class="filter" data-filter=".u">Freelancer</li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="container" class="row">
            <div class="col-sm-6 col-lg-12 mix n">
                <div class="job-item">
                    <!-- router link in a tag -->
                    <a>
                        <div class="feature-top-right">
                            <span>Pending</span>
                        </div>

                        <div class="row align-items-center">
                            <div class="col-lg-8 col-md-12">
                                <div class="job-left">
                                    <img src="assets/img/home-one/job1.png" alt="Brand">
                                    <h3>Alfred Pennyworth</h3>
                                    <p>Acme Corp.</p>
                                    <ul>
                                        <li><i class="flaticon-appointment"></i>MArch 9, 2022</li>
                                        <li>16:30 (PST)</li>
                                        <li></li>
                                        <li><i class='bx bx-location-plus'></i> i10, Islamabad, Pakistan</li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-12">
                                <div class="job-right">
                                    <ul>
                                        <li><i class="bx bx-briefcase"></i> Account Representative</li>
                                        <li><i class="flaticon-mortarboard"></i> Master</li>
                                        <li><span (click)="adminSchedule(content)">Schedule</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-lg-12 mix o">
                <div class="job-item">
                    <!-- router link in a tag -->
                    <a>
                        <div class="feature-top-right">
                            <span>Pending</span>
                        </div>

                        <div class="row align-items-center">
                            <div class="col-lg-8 col-md-12">
                                <div class="job-left">
                                    <img src="assets/img/home-one/job2.png" alt="Brand">
                                    <h3>Kaylee</h3>
                                    <p>Stark Industries</p>
                                    <ul>
                                        <li><i class="flaticon-appointment"></i> April 11, 2022</li>
                                        <li>16:30 (PST)</li>
                                        <li></li>
                                        <li><i class='bx bx-location-plus'></i> i10, Islamabad, Pakistan</li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-12">
                                <div class="job-right">
                                    <ul>
                                        <li><i class="bx bx-briefcase"></i> General Manager</li>
                                        <li><i class="flaticon-mortarboard"></i> Master</li>
                                        <li><span>Schedule</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-lg-12 mix m">
                <div class="job-item">
                    <!-- router link in a tag -->
                    <a>
                        <div class="feature-top-right">
                            <span>Pending</span>
                        </div>

                        <div class="row align-items-center">
                            <div class="col-lg-8 col-md-12">
                                <div class="job-left">
                                    <img src="assets/img/home-one/job3.png" alt="Brand">
                                    <h3>Willy Wonka</h3>
                                    <p>Gekko & Co</p>
                                    <ul>
                                        <li><i class="flaticon-appointment"></i> March 7, 2022</li>
                                        <li>16:30 (PST)</li>
                                        <li></li>
                                        <li><i class='bx bx-location-plus'></i> i10, Islamabad, Pakistan</li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-12">
                                <div class="job-right">
                                    <ul>
                                        <li><i class="bx bx-briefcase"></i> Analyst</li>
                                        <li><i class="flaticon-mortarboard"></i> Master</li>
                                        <li><span>Schedule</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-lg-12 mix p">
                <div class="job-item">
                    <!-- router link in a tag -->
                    <a>
                        <div class="feature-top-right">
                            <span>Pending</span>
                        </div>

                        <div class="row align-items-center">
                            <div class="col-lg-8 col-md-12">
                                <div class="job-left">
                                    <img src="assets/img/home-one/job4.png" alt="Brand">
                                    <h3>Kaylee</h3>
                                    <p>Wayne Enterprises</p>
                                    <ul>
                                        <li><i class="flaticon-appointment"></i> February 26, 2022</li>
                                        <li>16:30 (PST)</li>
                                        <li></li>
                                        <li><i class='bx bx-location-plus'></i> i10, Islamabad, Pakistan</li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-12">
                                <div class="job-right">
                                    <ul>
                                        <li><i class="bx bx-briefcase"></i> Web Developer</li>
                                        <li><i class="flaticon-mortarboard"></i> Master</li>
                                        <li><span>Schedule</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-lg-12 mix u">
                <div class="job-item">
                    <!-- router link in a tag -->
                    <a>
                        <div class="feature-top-right">
                            <span>Pending</span>
                        </div>

                        <div class="row align-items-center">
                            <div class="col-lg-8 col-md-12">
                                <div class="job-left">
                                    <img src="assets/img/home-one/job5.png" alt="Brand">
                                    <h3>Anthony Edward Stark</h3>
                                    <p>Cyberdyne Systems</p>
                                    <ul>
                                        <li><i class="flaticon-appointment"></i> April 9, 2022</li>
                                        <li>16:30 (PST)</li>
                                        <li></li>
                                        <li><i class='bx bx-location-plus'></i> i10, Islamabad, Pakistan</li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-12">
                                <div class="job-right">
                                    <ul>
                                        <li><i class="bx bx-briefcase"></i> General Manager</li>
                                        <li><i class="flaticon-mortarboard"></i> Master</li>
                                        <li><span>Schedule</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Jobs -->

<!-- schedule -->
<ng-template #content let-modal>
    <div class="container">
        <div class="row padder">
            <form [formGroup]="scheduleInterview">
                <div class="create-button">
                    <div>
                        <h4>Employer's Prefrence</h4>
                    </div>
                    <div>
                        <a (click)="modal.dismiss()">
                            <i class='bx bx-x'></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="container">
                        <div class="row padder">
                            <div>
                                <div class="bottom-item">
                                    <div class="work bottom-item">
                                        <div>
                                            <img src="assets/img/home-three/title-img.png" alt="Icon">
                                            Acme Corp.
                                        </div>
                                        <i class="bx bx-edit bx-sm bx-tada-hover" style="float: right;"></i>

                                        <h5>Alfred Pennyworth</h5>
                                        <ul>
                                            <li>Account Representative</li>
                                            <li><strong>March 9, 2022 16:30 (PST)</strong></li>
                                            <li>i10, Islamabad, Pakistan</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="col-lg-12 col-md-12">
                    <div class="row padder">
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group aaa">
                                <label>Reschedule date:</label>
                                <input type="date" class="form-control" placeholder="Date of the interview"
                                    formControlName="date"
                                    [ngClass]="{ 'is-invalid': submittedSch && fsch.date.errors }">
                                <div *ngIf="submittedSch && fsch.date.errors" class="invalid-feedback">
                                    <div *ngIf="fsch.date.errors.required">
                                        Date is required
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Reschedule time:</label>
                                <input type="text" class="form-control" placeholder="Time of the interview"
                                    formControlName="timeField"
                                    [ngClass]="{ 'is-invalid': submittedSch && fsch.timeField.errors }"
                                    (click)="openTime(timeContent)">
                                <div *ngIf="submittedSch && fsch.timeField.errors" class="invalid-feedback">
                                    <div *ngIf="fsch.timeField.errors.required">
                                        time
                                        is
                                        required
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="modal-footer">
                    <a type="button" class="cmn-btn" (click)="scheduleInterForm()">
                        Schedule <i class='flaticon-verify'></i>
                    </a>
                </div>
            </form>

        </div>
    </div>
</ng-template>

<ng-template #timeContent let-modal>
    <div class="container">

        <div
            class="col-lg-12 col-md-12 timeContent">
            <div class="row padder">

                <div class="col-lg-8">
                    <ngb-timepicker
                        [(ngModel)]="time"
                        size="small"
                        [meridian]="meridian">
                    </ngb-timepicker>
                </div>
                <div class="col-lg-4">
                    <a class="cmn-btn"
                        (click)="ontimeChange(time)"
                        (click)="modal.close()">
                        OK
                    </a>
                </div>
                <!-- <pre>Selected time: {{time | json}}</pre> -->
            </div>
        </div>

    </div>
</ng-template>
