<!-- Navbar -->
<app-navbar-style-one></app-navbar-style-one>
<!-- End Navbar -->

<!-- Page Title -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="title-item">
                    <h2>Employers</h2>
                    <ul>
                        <li>
                            <img src="assets/img/home-three/title-img-two.png" alt="Image">
                            <a routerLink="/">Home</a>
                        </li>
                        <li><span>/</span></li>
                        <li>Employers</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->

<!-- Filter -->
<div class="job-filter-area pt-100">
    <div class="container">
        <form>
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="e.g UI/UX Design">
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                        <select>
                            <option>Filter By Age</option>
                            <option>Another option</option>
                            <option>A option</option>
                            <option>Potato</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                        <select>
                            <option>Filter By Category</option>
                            <option>Another option</option>
                            <option>A option</option>
                            <option>Potato</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                        <select>
                            <option>Filter By Location</option>
                            <option>Another option</option>
                            <option>A option</option>
                            <option>Potato</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                        <select>
                            <option>Filter By Languages</option>
                            <option>Another option</option>
                            <option>A option</option>
                            <option>Potato</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                        <select>
                            <option>Filter By Qualifications</option>
                            <option>Another option</option>
                            <option>A option</option>
                            <option>Potato</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                        <select>
                            <option>Filter By Experiences</option>
                            <option>Another option</option>
                            <option>A option</option>
                            <option>Potato</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <button type="submit" class="btn cmn-btn">Search By Filter <i class='bx bx-plus'></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End Filter -->

<!-- Showing -->
<div class="job-showing-area">
    <div class="container">
        <h4>Showing 1 - 8 of 11 results</h4>

        <div class="showing">
            <div class="row">
                <div class="col-sm-6 col-lg-6">
                    <div class="left">
                        <div class="form-group">
                            <select>
                                <option>Newest</option>
                                <option>Another option</option>
                                <option>A option</option>
                                <option>Potato</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-6">
                    <div class="right">
                        <ul>
                            <li><a routerLink="/"><i class='bx bx-dots-horizontal'></i></a></li>
                            <li><a routerLink="/"><i class='bx bx-menu'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Showing -->

<!-- Employer -->
<div class="candidate-area pb-100">
    <table class="table table-hover" *ngIf="employerInfo.length>0">
        <thead class="thead-dark">
            <tr class="text-center">
                <th scope="col">#Id</th>
                <th scope="col">Avatar</th>
                <th scope="col">Name</th>
                <th scope="col">Designation</th>
                <th scope="col">Contact no</th>
                <th scope="col">Updated on</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employerInfo; let i = index">
                <th scope="row">{{emp.id}}</th>
                <th><img src="assets/img/candidate3.jpg" alt="Details"></th>
                <td><a class="title" [routerLink]="['/employers-details', emp.id]">{{emp.full_name}}</a></td>
                <td>{{emp.job_designation}}</td>
                <td>{{emp.office_number}}</td>
                <td>
                    {{emp.updatedAt | date}} at
                    {{emp.updatedAt | date:'shortTime'}}
                </td>
                <td>status</td>
                <td (click)="$event.stopPropagation()" (click)="$event.preventDefault()">
                    <i class="bx bx-trash bx-sm bx-tada-hover" (click)="delEmp(i)"></i>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="employerInfo.length==0">
        <h2>No Employers Found</h2>
    </div>
    <div class="pagination-area">
        <ul>
            <li><a routerLink="/candidates">Prev</a></li>
            <li><a routerLink="/candidates">1</a></li>
            <li><a routerLink="/candidates">2</a></li>
            <li><a routerLink="/candidates">3</a></li>
            <li><a routerLink="/candidates">Next</a></li>
        </ul>
    </div>
</div>
<!-- End Employer -->


<!-- Footer -->
<app-footer-style-two></app-footer-style-two>
<!-- End Footer -->