<div class="profile-content" *ngIf="applicationInfo.length>0">
    <h2>Candidates that applied on {{jobTitle}}</h2>
</div>

<!-- Showing -->
<div class="job-showing-area pt-100" *ngIf="applicationInfo.length>0">
    <div class="container">
        <!-- <h4>Showing 1 - 1 of 2 results</h4> -->
        <!-- <div class="showing">

        </div> -->
    </div>
</div>
<!-- End Showing -->

<!-- Candidate -->
<div class="candidate-area pb-100" *ngIf="applicationInfo.length>0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12" *ngFor="let cand of applicationInfo; let i = index;">
                <div class="candidate-item two">
                    <div>
                        <div class="left">
                            <h3><a [routerLink]="['/candidate-details', i+1]">{{cand.candidate_profile.name}}</a></h3>
                            <div>
                                <span class="app-status">
                                    <span class="span-two two">
                                        {{cand.application_status}}
                                    </span>
                                    <i class='bx bxs-check-circle bx-sm bx-tada-hover' (click)="approveAppl(i)"></i>
                                    <i class="bx bx-trash bx-sm bx-tada-hover" (click)="deleteAppl(i)"></i>
                                </span>
                            </div>
                            <ul class="experience">
                                <li>Experience: {{cand.candidate_profile.experience}}<span></span></li>
                                <li>Expected Salary: <span>RS. {{cand.candidate_profile.expected_salary}}</span></li>
                                <li><i class="flaticon-send"></i>
                                    {{cand.candidate_profile.area}},
                                    {{cand.candidate_profile.city}}
                                </li>
                            </ul>
                            <div>
                                <ul>
                                    <li></li>
                                </ul>
                            </div>
                            <div class="cmn-link">
                                <a [routerLink]="['/candidate-details', i+1]"><i class="flaticon-right-arrow one"></i>
                                    View Profile
                                    <i class="flaticon-right-arrow two"></i></a>
                            </div>
                        </div>
                        <!-- <img src="assets/img/candidate1.jpg" alt="Candidate"> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="pagination-area">
            <ul>
                <li><a routerLink="/candidates">Prev</a></li>
                <li><a routerLink="/candidates">1</a></li>
                <li><a routerLink="/candidates">Next</a></li>
            </ul>
        </div>

    </div>
</div>

<div class="candidate-area pb-100" *ngIf="applicationInfo.length==0">
    <h2>No candidate has applied for this job</h2>
</div>
<!-- End Candidate -->
