.candidate-item .left span{
    color: #fff;
}

.app-status{
    top: 25px;
    right: 25px;
    display: inline-block;
    position: absolute;
    text-align: center;
}

.bxs-check-circle{
    color: #21a212;
}

.span-two {
    color: #fff;
    background-color: #21a212;
    border-radius: 5px;
    padding: 4px 10px;
    font-size: 13px;

    &.two {
        background-color: #a28c12;
    }

    &.three {
        background-color: #1271a2;
    }

    &.four {
        background-color: #e20000;
    }
}
