<div class="profile-content">
    <h2>Candidates</h2>
</div>


<table class="table table-hover" *ngIf="candidatesInfo.length>0">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">City</th>
            <th scope="col">Created on</th>
            <th scope="col">Updated on</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cand of candidatesInfo; let i = index" [routerLink]="['/dashboard', cand.id]">
            <th scope="row">{{cand.id}}</th>
            <td>{{cand.name}}</td>
            <td>{{cand.city}}</td>
            <td>
                {{cand.createdAt | date}} at
                {{cand.createdAt | date:'shortTime'}}
            </td>
            <td>
                {{cand.updatedAt | date}} at
                {{cand.updatedAt | date:'shortTime'}}
            </td>
            <td>status</td>
            <td
            (click)="$event.stopPropagation()"
            (click)="$event.preventDefault()">
                <i class="bx bx-trash bx-sm bx-tada-hover" (click)="delCand(i)"></i>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="candidatesInfo.length==0">
    <h2>No Candidates Found</h2>
</div>
