<div *ngIf="basicInfo.length > 0" class="person-details-area resume-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="details-item">
                <div class="bottom-item">
                    <div class="create-button">
                        <div>
                            <h2>Basic Information</h2>
                        </div>
                        <div>
                            <a media="print" class="cmn-btn" (click)="editInfo()">{{(boolVar ? 'Edit' : 'Hide Form')}}<i
                                    class="bx bx-edit bx-sm bx-tada-hover"></i></a>
                            <!-- <i class="bx bx-edit bx-sm bx-tada-hover" style="float: right;" (click)="editInfo(i)"></i> -->
                        </div>
                    </div>
                </div>
                <div class="work bottom-item" *ngFor="let info of basicInfo; let i = index">
                    <ul>
                        <li>
                            <h3> <img src="assets/img/home-three/title-img.png" alt="Icon">
                                Summary</h3>
                            {{ info.summary }}
                        </li>
                    </ul>
                    <!-- <h4>Details:</h4> -->
                    <div class="container">
                        <ul>
                            <li>
                                <h3> <img src="assets/img/home-three/title-img.png" alt="Icon">
                                    Details</h3>
                            </li>
                        </ul>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td scope="row" ><i class='bx bx-envelope'></i></td>
                                    <td scope="row" >Email :</td>
                                    <td >{{info.email}}</td>
                                </tr>
                                <tr>
                                    <td scope="row" ><i class='bx bxs-phone'></i></td>
                                    <td scope="row" >Phone :</td>
                                    <td >{{info.mobile_number}}</td>
                                </tr>
                                <tr>
                                    <td scope="row" ><i class='bx bxs-calendar'></i></td>
                                    <td scope="row" >Date of Birth :</td>
                                    <td >{{info.dob}}</td>
                                </tr>
                                <tr>
                                    <td scope="row" ><i class='bx bx-body' ></i></td>
                                    <td scope="row" >Gender :</td>
                                    <td >{{info.gender}}</td>
                                </tr>
                                <tr>
                                    <td scope="row" ><i class='bx bx-heart-circle'></i></td>
                                    <td scope="row" >Marital Status :</td>
                                    <td >{{info.marital_status}}</td>
                                </tr>
                                <tr>
                                    <td scope="row" ><i class='bx bxs-flag' ></i></td>
                                    <td scope="row" >Nationality :</td>
                                    <td >{{info.nationality}}</td>
                                </tr>
                                <tr>
                                    <td scope="row" ><i class='bx bxs-book-content'></i></td>
                                    <td scope="row" >CNIC :</td>
                                    <td >{{info.cnic}}</td>
                                </tr>
                                <tr>
                                    <td scope="row" ><i class='bx bxs-briefcase' ></i></td>
                                    <td scope="row" >Career Level :</td>
                                    <td >{{info.career_level}}</td>
                                </tr>
                                <tr>
                                    <td scope="row" ><i class='bx bx-line-chart' ></i></td>
                                    <td scope="row" >Experience :</td>
                                    <td >{{info.experience}}</td>
                                </tr>
                                <tr>
                                    <td scope="row" ><i class='bx bxs-city' ></i></td>
                                    <td scope="row" >City :</td>
                                    <td >{{info.city}}</td>
                                </tr>
                                <tr>
                                    <td scope="row" ><i class='bx bx-money' ></i></td>
                                    <td scope="row" >Expected Salary :</td>
                                    <td >{{info.expected_salary}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <div class="job-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="details-item">

                <div class="details-inner">
                    <div class="create-button">
                        <div>
                            <h3>Summary</h3>
                        </div>
                        <div>
                            <a class="cmn-btn" (click)="editInfo()">Edit<i class='bx bxs-edit-alt'></i></a>
                        </div>
                    </div>

                    <div *ngIf="name === undefined  && summary === undefined || summary === null">
                        <p> Hi i have not updated my information yet...</p>
                    </div>
                    <div *ngIf="name !== undefined && summary === undefined">
                        <p> Hi, my name is {{name}} and i'm from {{city}}</p>
                    </div>
                    <div *ngIf="summary !== undefined || summary !== null">
                        <p> {{summary}} </p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div> -->

<!-- Basic Info Form -->
<div class="tab-pane fade show active" id="v-pills-basicInfo" role="tabpanel" aria-labelledby="v-pills-basicInfo-tab">
    <div class="profile-content">

        <form [formGroup]="basicInfoForm" id="noScreen" [hidden]="!openform">
            <div class="profile-content-inner">
                <h2>Basic Info</h2>

                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label>Full Name:</label>
                            <input type="text" class="form-control" placeholder="Tom Henry" formControlName="name"
                                [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Full Name is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label>Email:</label>
                            <input type="email" class="form-control" placeholder="hello@alzo.com"
                                formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email is invalid</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label>Summary:</label>
                            <textarea type="text" class="form-control" placeholder="" formControlName="summary"
                                [ngClass]="{ 'is-invalid': submitted && f.summary.errors }"></textarea>
                            <div *ngIf="submitted && f.summary.errors" class="invalid-feedback">
                                <div *ngIf="f.summary.errors.required">Summary is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label>Phone:</label>
                            <input type="text" class="form-control" placeholder="+123 - 456 - 789"
                                formControlName="mobile_number"
                                [ngClass]="{ 'is-invalid': submitted && f.mobile_number.errors }">
                            <div *ngIf="submitted && f.mobile_number.errors" class="invalid-feedback">
                                <div *ngIf="f.mobile_number.errors.required">Phone number is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label>Date Of Birtd:</label>
                            <input type="date" class="form-control" placeholder="01/01/1995" formControlName="dob"
                                [ngClass]="{ 'is-invalid': submitted && f.dob.errors }">
                            <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                                <div *ngIf="f.dob.errors.required">Date of birtd is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label class="col-lg-12 col-md-12">Gender</label>
                            <select class="form-control form-select" formControlName="gender"
                                [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                                <option value="" disabled selected>Please select</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Otder">Otder</option>
                            </select>
                            <div class="invalid-feedback" *ngIf="submitted && f.gender.errors">
                                <div *ngIf="f.gender.errors.required">
                                    Gender is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label>Marital Status:</label>
                            <input type="text" class="form-control" placeholder="Single/Married"
                                formControlName="marital_status"
                                [ngClass]="{ 'is-invalid': submitted && f.marital_status.errors }">
                            <div *ngIf="submitted && f.marital_status.errors" class="invalid-feedback">
                                <div *ngIf="f.marital_status.errors.required">Marital Status is
                                    required</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label>Nationality:</label>
                            <input type="text" class="form-control" placeholder="Nationality"
                                formControlName="nationality"
                                [ngClass]="{ 'is-invalid': submitted && f.nationality.errors }">
                            <div *ngIf="submitted && f.nationality.errors" class="invalid-feedback">
                                <div *ngIf="f.nationality.errors.required">Nationality is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label>CNIC:</label>
                            <input type="text" class="form-control" placeholder="*****-*******-*" formControlName="cnic"
                                [ngClass]="{ 'is-invalid': submitted && f.cnic.errors }">
                            <div *ngIf="submitted && f.cnic.errors" class="invalid-feedback">
                                <div *ngIf="f.cnic.errors.required">CNIC is required</div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label class="col-lg-12 col-md-12">Career level:</label>
                            <select class="form-control form-select" formControlName="career_level"
                                [ngClass]="{ 'is-invalid': submitted && f.career_level.errors }">
                                <option value="" disabled selected>Choose any one</option>
                                <option>Entry-level</option>
                                <option>Intermediate</option>
                                <option>Mid-level</option>
                                <option>Senior-level </option>
                                <option>Executive-level</option>
                            </select>
                            <div class="invalid-feedback" *ngIf="submitted && f.career_level.errors">
                                <div *ngIf="f.career_level.errors.required">
                                    Career level is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label class="col-lg-12 col-md-12">Experience:</label>
                            <select class="form-control form-select" formControlName="experience"
                                [ngClass]="{ 'is-invalid': submitted && f.experience.errors }">
                                <option value="" disabled selected>Choose any one</option>
                                <option>Fresh</option>
                                <option>Less tdan 1 Year</option>
                                <option>1 Year</option>
                                <option>2 Years</option>
                                <option>3 Years</option>
                                <option>4 Years</option>
                                <option>5 Years</option>
                                <option>6 Years</option>
                                <option>7 Years</option>
                                <option>8 Years</option>
                                <option>9 Years</option>
                                <option>10 Years</option>
                                <option>11 Years</option>
                                <option>12 Years</option>
                                <option>13 Years</option>
                                <option>14 Years</option>
                                <option>15 Years</option>
                                <option>16 Years</option>
                                <option>17 Years</option>
                                <option>18 Years</option>
                                <option>19 Years</option>
                                <option>20 Years</option>
                                <option>21 Years</option>
                                <option>22 Years</option>
                                <option>23 Years</option>
                                <option>24 Years</option>
                                <option>25 Years</option>
                                <option>26 Years</option>
                                <option>27 Years</option>
                                <option>28 Years</option>
                                <option>29 Years</option>
                                <option>30 Years</option>
                                <option>31 Years</option>
                                <option>32 Years</option>
                                <option>33 Years</option>
                                <option>34 Years</option>
                                <option>35 Years</option>
                                <option>More tdan 35 Years</option>

                            </select>
                            <div class="invalid-feedback" *ngIf="submitted && f.experience.errors">
                                <div *ngIf="f.experience.errors.required">
                                    Experience is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label>City :</label>
                            <input type="text" class="form-control" placeholder="City" formControlName="city"
                                [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                            <div class="invalid-feedback" *ngIf="submitted && f.city.errors">
                                <div *ngIf="f.city.errors.required">
                                    City is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label>Area :</label>
                            <input type="text" class="form-control" placeholder="Area" formControlName="area"
                                [ngClass]="{ 'is-invalid': submitted && f.area.errors }">
                            <div class="invalid-feedback" *ngIf="submitted && f.area.errors">
                                <div *ngIf="f.area.errors.required">
                                    Area is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label>Expected Salary:</label>
                            <input type="text" class="form-control" placeholder="$1500"
                                formControlName="expected_salary"
                                [ngClass]="{ 'is-invalid': submitted && f.expected_salary.errors }">
                            <div class="invalid-feedback" *ngIf="submitted && f.expected_salary.errors">
                                <div *ngIf="f.expected_salary.errors.required">
                                    Expected Salary is required
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <button (click)="baiscInfoForm()" class="btn dashboard-btn">Save Your
                Information</button>
        </form>
    </div>
</div>