<div class="profile-content">
    <h2>Registration</h2>
</div>
<div class="banner-content">
    <div class="banner-form-area" *ngIf="candidateInfo.length>0">
        <div class="row">
            <div class="row-items">

                <div class="col-ad-id-4">
                    <div class="form-group">
                        <div class="form-control"><strong>ID</strong>
                        </div>
                    </div>
                </div>
                <div class="col-ad-4">
                    <div class="form-group">
                        <div class="form-control"><strong>Name</strong>
                        </div>
                    </div>
                </div>
                <div class="col-ad-4">
                    <div class="form-group">
                        <div class="form-control"><strong>Role</strong>
                        </div>
                    </div>
                </div>
                <div class="col-ad-4">
                    <div class="form-group">
                        <div class="form-control"><strong>Created on</strong>
                        </div>
                    </div>
                </div>
                <div class="col-ad-4">
                    <div class="form-group">
                        <div class="form-control"><strong>Modified on</strong>
                        </div>
                    </div>
                </div>
                <div class="col-ad-4">
                    <div class="form-group">
                        <div class="form-control"><strong>Actions</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngFor="let cand of candidateInfo; let i = index">
            <!-- <h3>sakjs</h3> -->
            <!-- <ul>
                    <li><i class="flaticon-send"></i> sdsad, Pakistan</li>
                    <li>dsdadasd</li>
                </ul> -->
            <div class="row">
                <div class="row-items">

                    <div class="col-ad-id-4">
                        <div class="form-group">
                            <div class="form-control">{{cand.id}}</div>
                        </div>
                    </div>
                    <div class="col-ad-4">
                        <div class="form-group">
                            <div class="form-control">{{cand.name}}</div>
                        </div>
                    </div>
                    <div class="col-ad-4">
                        <div class="form-group">
                            <div class="form-control">role</div>
                        </div>
                    </div>
                    <div class="col-ad-4">
                        <div class="form-group">
                            <div class="form-control">
                                {{cand.createdAt | date}} at
                                {{cand.createdAt | date:'shortTime'}}
                            </div>
                        </div>
                    </div>
                    <div class="col-ad-4">
                        <div class="form-group">
                            <div class="form-control">
                                {{cand.updatedAt | date}} at
                                {{cand.updatedAt | date:'shortTime'}}
                            </div>
                        </div>
                    </div>
                    <div class="col-ad-4">
                        <div class="form-group">
                            <div class="form-control">
                                <i class="bx bx-edit bx-sm bx-tada-hover"></i>
                                <i class="bx bx-trash bx-sm bx-tada-hover"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <span class="span-one">asdsd</span>
                <span class="span-two">sdsads</span> -->
        </div>

        <!-- <div class="employer-item">
            <a [routerLink]="['/job-details']">
                <img src="assets/img/home-one/job1.png" alt="Employer">
                <h3>sakjs</h3>
                <ul>
                    <li><i class="flaticon-send"></i> sdsad, Pakistan</li>
                    <li>dsdadasd</li>
                </ul>
                <p>dasdasd</p>
                <span class="span-one">asdsd</span>
                <span class="span-two">sdsads</span>
            </a>
            </div> -->

    </div>

    <div *ngIf="candidateInfo.length==0">
        <h2>No Candidates Found</h2>
    </div>

</div>
