<div class="row">
    <div class="col-sm-3">
        <div class="feature-item">
            <a routerLink="/job-details"><img src="assets/img/company/diversity2.png" alt="Feature"></a>
            <div class="bottom">
                <h3>
                    <a routerLink="/job-details">
                        Inclusive Environment
                    </a>
                </h3>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="feature-item">
            <a routerLink="/job-details"><img src="assets/img/company/hours.png" alt="Feature"></a>
            <div class="bottom">
                <h3>
                    <a routerLink="/job-details">
                        Flexible working hours
                    </a>
                </h3>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="feature-item">
            <a routerLink="/job-details"><img src="assets/img/company/break.png" alt="Feature"></a>
            <div class="bottom">
                <h3><a routerLink="/job-details">
                        Free Food and Coffee
                    </a>
                </h3>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="feature-item">
            <a routerLink="/job-details"><img src="assets/img/company/hybrid.png" alt="Feature"></a>
            <div class="bottom">
                <h3><a routerLink="/job-details">
                        Hybrid Workplace
                    </a>
                </h3>
            </div>
        </div>
    </div>
</div>
