.create-button{
    display: flex;
    justify-content: space-between;
}

.span-one, .span-two, .cmn-btn, .comp-pointer{
    cursor: pointer;
}

.cmn-btn{
    margin: 20px;
}

.span-one{
    color: #5f5656;
}
