<div class="profile-content">
    <div *ngIf="skillInfo.length>0" class="person-details-area resume-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="details-item">

                    <div class="bottom-item">
                        <div class="create-button">
                            <div>
                                <h2>Skills</h2>
                            </div>
                            <div>
                                <a class="cmn-btn" (click)="resetSkill()">Create <i class='bx bx-plus'></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="work bottom-item" *ngFor="let skill of skillInfo; let i = index">
                        <ul>
                            <li style="float: left;">
                                <strong>
                                    {{skill.skill_title}}
                                </strong>
                                <span>
                                    ({{skill.skill_proficiency}})
                                </span>
                            </li>
                            <i class="bx bx-trash bx-sm bx-tada-hover" style="float: right;" (click)="delSkill(i)"></i>
                            <i class="bx bx-edit bx-sm bx-tada-hover" style="float: right;" (click)="editSkill(i)"></i>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form style="margin-bottom: 5%;" autocomplete="off" novalidate [formGroup]="skillsForm">

        <div class="profile-content-inner">
            <h2>Skills</h2>

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <label>Add a new skill:</label>
                        <select class="form-control form-select" formControlName="skill_title"
                            [ngClass]="{ 'is-invalid': submittedSkill && fskill.skill_title.errors }">
                            <option value="" disabled selected>Select a Skill</option>
                            <ng-container *ngFor="let skill of skillsData">
                                <option [value]="skill">{{skill}}</option>
                            </ng-container>
                        </select>
                        <div class="invalid-feedback" *ngIf="submittedSkill && fskill.skill_title.errors">
                            <div *ngIf="fskill.skill_title.errors.required">
                                This field is required
                            </div>
                        </div>

                        <ng-template #itemTemplateStatic let-item>
                            <a [innerHTML]="item"></a>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>
                        <div class="invalid-feedback" *ngIf="submittedSkill && fskill.skill_title.errors">
                            <div *ngIf="fskill.skill_title.errors.required">
                                This field is required
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <label>Experience with this skill:</label>
                        <select class="form-control form-select" formControlName="skill_proficiency"
                            [ngClass]="{ 'is-invalid': submittedSkill && fskill.skill_proficiency.errors }">
                            <option value="" disabled selected>Choose any one</option>
                            <ng-container *ngFor="let prof of proficiency">
                                <option [value]="prof">{{prof}}</option>
                            </ng-container>
                        </select>
                        <div class="invalid-feedback" *ngIf="submittedSkill && fskill.skill_proficiency.errors">
                            <div *ngIf="fskill.skill_proficiency.errors.required">
                                This field is required
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <button (click)="skillsInfoForm()" class="btn dashboard-btn" *ngIf="saveSkillBtn">
            Save Skill
        </button>
        <button (click)="skillsUpdateForm()" class="btn dashboard-btn" *ngIf="updateSkillBtn">
            Update Your Skill
        </button>
    </form>

    <div *ngIf="languageInfo.length>0" class="person-details-area resume-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="details-item">

                    <div class="bottom-item">
                        <div class="create-button">
                            <div>
                                <h2>Languages</h2>
                            </div>
                            <div>
                                <a class="cmn-btn" (click)="resetLang()">Create <i class='bx bx-plus'></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="work bottom-item" *ngFor="let lang of languageInfo; let i = index">
                        <ul>
                            <li style="float: left;">
                                <strong>
                                    {{lang.language_title}}
                                </strong>
                                <span>
                                    ({{lang.language_proficiency}})
                                </span>
                            </li>
                            <i class="bx bx-trash bx-sm bx-tada-hover" style="float: right;" (click)="delLang(i)"></i>
                            <i class="bx bx-edit bx-sm bx-tada-hover" style="float: right;" (click)="editLang(i)"></i>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form style="margin-bottom: 5%;" autocomplete="off" novalidate [formGroup]="languageForm">

        <div class="profile-content-inner">
            <h2>Languages</h2>

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <label>Add a new Language:</label>
                        <select class="form-control form-select" formControlName="language_title"
                            [ngClass]="{ 'is-invalid': submittedLanguage && flang.language_title.errors }">
                            <option value="" disabled selected>Select a Language</option>
                            <ng-container *ngFor="let lang of langData">
                                <option [value]="lang">{{lang}}</option>
                            </ng-container>
                        </select>
                        <div class="invalid-feedback" *ngIf="submittedLanguage && flang.language_title.errors">
                            <div *ngIf="flang.language_title.errors.required">
                                This field is required
                            </div>
                        </div>

                        <ng-template #itemTemplateStatic let-item>
                            <a [innerHTML]="item"></a>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>
                        <div class="invalid-feedback" *ngIf="submittedLanguage && flang.language_title.errors">
                            <div *ngIf="flang.language_title.errors.required">
                                This field is required
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <label>Experience with this Language:</label>
                        <select class="form-control form-select" formControlName="language_proficiency"
                            [ngClass]="{ 'is-invalid': submittedLanguage && flang.language_proficiency.errors }">
                            <option value="" disabled selected>Choose any one</option>
                            <ng-container *ngFor="let prof of proficiency">
                                <option [value]="prof">{{prof}}</option>
                            </ng-container>
                        </select>
                        <div class="invalid-feedback" *ngIf="submittedLanguage && flang.language_proficiency.errors">
                            <div *ngIf="flang.language_proficiency.errors.required">
                                This field is required
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <button (click)="languageInfoForm()" class="btn dashboard-btn" *ngIf="saveLangBtn">
            Save Language
        </button>
        <button (click)="languageUpdateForm()" class="btn dashboard-btn" *ngIf="updateLangBtn">
            Update Your Language
        </button>
    </form>
</div>
