.table{
    border-collapse:separate;
    border: 6px solid ;
    border-radius: 15px ;
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif ;
    border-color: #221668 ;
    // font-weight:100
}