<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col" class="summary">Task Summary</th>
            <th scope="col" class="assignee">Assigned to</th>
            <th scope="col">Sattus</th>
            <th scope="col" class="date">Due Date</th>
            <th scope="col">Notes on task</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Cover design for home page</td>
            <td>Amber Ware</td>
            <td>In Progress</td>
            <td>March 28, 2022</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Preparing content to be sent through ad channels</td>
            <td>Christina Jenkins</td>
            <td>Waiting</td>
            <td>June 13, 2022</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Completing the post in the new page</td>
            <td>Ursula Lemke</td>
            <td>Cancelled</td>
            <td>February 19, 2022</td>
            <td>Arrange a new one.</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Listing the related keywords for each category with respect to the MSV</td>
            <td>Merlin Haag</td>
            <td>Completed</td>
            <td>March 3, 2022</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Going through the bug report list</td>
            <td>Max Henson</td>
            <td>Waiting</td>
            <td>June 9, 2022</td>
            <td></td>
        </tr>
    </tbody>
</table>
<!--
<div>
    <h2>No tasks were found</h2>
</div> -->
