.col-lg-4{
    width: 20%;
}

.col-lg-8{
    width: 80%;
}

.row-items{
    display: inline-flex;
}

.col-ad-id-4{
    width: 5.5%;
}

.col-ad-4{
    width: 18.5%;
}

.col-lg-4{
    width: 20%;
}

.banner-form-area{
    padding-right: 0px;
}

.banner-content, .job-area-list{
    height: auto;
}

