.table img{
    width: 35px;
    height: 30px;
    border-radius:15% ;
}
.table {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .table a{
    color: black;
  }
  .table button{
    font-size: 12px;
  }