<!-- Navbar -->
<app-navbar-style-one></app-navbar-style-one>
<!-- End Navbar -->

<!-- Page Title -->
<div class="page-title-area two three">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-lg-8 col-md-12">
                        <div class="left two">
                            <img src="assets/img/candidate-details1.jpg" alt="Details">
                            <h2>{{candBasicInfo?.name}}</h2>
                            <ul>
                                <li><i class='bx bx-box'></i> {{currentWorkValue}} </li>
                                <li><i class='bx bx-phone-call'></i> <a
                                        href="+567908234875">{{candBasicInfo?.mobile_number}}</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="right">
                            <ul>
                                <li><a routerLink="/candidate-details"><i class='bx bx-heart'></i>Save</a></li>
                                <li><a routerLink="/candidate-details"><i class='bx bx-share-alt'></i> Share</a></li>
                                <li><a routerLink="/candidate-details"><i class='bx bxs-report'></i> Report</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->

<!-- Candidate Details -->
<div class="person-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="details-item">
                    <div class="work bottom-item">
                        <h3>About me</h3>
                        <p>{{candBasicInfo?.summary}}</p>
                    </div>

                    <!-- <div *ngIf="jobPostInfo.length>0" class="person-details-area resume-area ptb-100"> -->
                    <!-- Education -->
                    <div class="work bottom-item">
                        <h3>Education</h3>
                        <div *ngFor="let edu of candEducation; let i = index">
                            <ul>
                                <i class='bx bxs-graduation' style="font-size: 25px;"></i>
                                <li>
                                    <span>{{edu?.degree_title}}</span>
                                    <span>({{edu?.field_of_study}})</span>
                                </li>
                            </ul>
                            <ul>
                                <i class='bx bxs-institution' style="font-size: 25px;"></i>                                
                                <li>
                                    <span>{{edu?.institution}}</span>
                                    <span>{{edu?.location}}, Pakistan</span>
                                </li>
                            </ul>
                            <ul>
                                <i class='bx bx-calendar' style="font-size: 25px;"></i>
                                <li><span>{{edu?.completion_year}} - </span>
                                     Obtained CGPA<span>- {{edu?.obtained_gpa}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Work Experience -->
                    <div class="work bottom-item">
                        <h3>Work Experience</h3>
                        <div *ngFor="let exp of candExperience; let i = index">
                            <ul>
                                <li><img src="assets/img/home-three/title-img.png" alt="Icon">
                                    {{exp?.company}}, {{exp?.location}}, Pakistan</li>
                                <li>
                                    <span>{{exp?.startDate | date}} -
                                        <span *ngIf="!exp?.currentlyWorking">
                                            {{exp?.endDate | date}}
                                        </span>
                                        <span *ngIf="exp?.currentlyWorking">
                                            Present
                                        </span>
                                        {{currentWork(exp?.currentlyWorking, i)}}
                                    </span>
                                </li>
                            </ul>
                            <h4>{{exp?.jobTitle}}</h4>
                            <p>{{exp?.description}}</p>
                        </div>
                    </div>

                    <div class="skills">
                        <h3>Skills</h3>
                        <div *ngFor="let skill of candSkills;">
                            <div class="skill-wrap">
                                <div class="skill">
                                    <h3>
                                        {{skill?.skill_title}}
                                        ({{skill?.skill_proficiency}})
                                    </h3>
                                    <!-- <div class="skill-bar skill1 animate__slideInLeft animate__animated">
                                        <span class="skill-count1">56%</span>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="skills">
                        <h3>Languages</h3>
                        <div *ngFor="let lang of candLanguages;">
                            <div class="skill-wrap">
                                <div class="skill">
                                    <h3>
                                        {{lang?.language_title}}
                                        ({{lang?.language_proficiency}})
                                    </h3>
                                    <!-- <div class="skill-bar skill1 animate__slideInLeft animate__animated">
                                        <span class="skill-count1">56%</span>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio">
                        <h3>Portfolio</h3>

                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <div class="img"><img src="assets/img/portfolio1.jpg" alt="Portfolio"></div>
                            </div>

                            <div class="col-lg-4 col-md-12">
                                <div class="img"><img src="assets/img/portfolio2.jpg" alt="Portfolio"></div>
                            </div>

                            <div class="col-lg-4 col-md-12">
                                <div class="img"><img src="assets/img/portfolio3.jpg" alt="Portfolio"></div>
                            </div>
                        </div>
                    </div>

                    <div class="client">
                        <img src="assets/img/candidate-details-client1.png" alt="Candidate Details">
                        <h3>Devit Killer</h3>
                        <span>January 12, 2020</span>
                        <p>Software hack from an initial feasibility study, continuing through l implna business you
                            have to be But we know there's a better</p>
                        <ul>
                            <li><span>05</span></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                        </ul>
                    </div>

                    <div class="review">
                        <h3>Add Review</h3>
                        <span>Your rating for this listing</span>
                        <ul>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                        </ul>
                        <form>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck59">
                                <label class="form-check-label" for="exampleCheck59">Save my name, email, and
                                    website in
                                    this browser for the next time I comment.</label>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <i class='bx bx-user'></i>
                                        <input type="text" class="form-control" placeholder="Name*">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <i class='bx bx-mail-send'></i>
                                        <input type="email" class="form-control" placeholder="Email*">
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <i class='bx bx-mail-send'></i>
                                        <textarea id="your-message" rows="10" class="form-control"
                                            placeholder="Write message"></textarea>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <button type="submit" class="btn">Submit A Review</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="widget-area">
                    <div class="information widget-item">
                        <h3>Details</h3>

                        <ul>
                            <li>
                                <img src="assets/img/job-details-icon.png" alt="Details">
                                <h4>Expected Salary:</h4>
                                <span>{{candBasicInfo?.expected_salary}}</span>
                            </li>
                            <li>
                                <img src="assets/img/job-details-icon.png" alt="Details">
                                <h4>Experience:</h4>
                                <span>{{candBasicInfo?.experience}}</span>
                            </li>
                            <li>
                                <img src="assets/img/job-details-icon.png" alt="Details">
                                <h4>Date of Birth</h4>
                                <span>{{candBasicInfo?.dob}}</span>
                            </li>
                            <li>
                                <img src="assets/img/job-details-icon.png" alt="Details">
                                <h4>Gender:</h4>
                                <span>{{candBasicInfo?.gender}}</span>
                            </li>
                            <li>
                                <img src="assets/img/job-details-icon.png" alt="Details">
                                <h4>CNIC:</h4>
                                <span>{{candBasicInfo?.cnic}}</span>
                            </li>
                            <li>
                                <img src="assets/img/job-details-icon.png" alt="Details">
                                <h4>Nationality:</h4>
                                <span>{{candBasicInfo?.nationality}}</span>
                            </li>
                            <li>
                                <img src="assets/img/job-details-icon.png" alt="Details">
                                <h4>City:</h4>
                                <span>{{candBasicInfo?.city}}</span>
                            </li>
                        </ul>
                    </div>

                    <div class="download widget-item">
                        <a routerLink="/">Download CV</a>
                        <a class="right" routerLink="/contact">Contact Me</a>
                    </div>

                    <div class="owner">
                        <div class="top">
                            <img src="assets/img/home-one/job4.png" alt="Owner">
                            <h3>Owner Info</h3>
                            <i class="flaticon-send"></i>
                            <span>Los Angeles, CA, USA</span>
                        </div>

                        <div class="information widget-item">
                            <ul>
                                <li>
                                    <img src="assets/img/job-details-icon.png" alt="Details">
                                    <h4>Phone</h4>
                                    <a href="tel:+34561232349987">+3456 123 234 9987</a>
                                </li>
                                <li>
                                    <img src="assets/img/job-details-icon.png" alt="Details">
                                    <h4>Email</h4>
                                    <a href="mailto:hello@alzo.com">hello@alzo.com</a>
                                </li>
                                <li>
                                    <img src="assets/img/job-details-icon.png" alt="Details">
                                    <h4>Location</h4>
                                    <a href="#" target="_blank">www.alzothemes.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="similar-candidates">
                        <h4>Similar Candidates</h4>
                    </div>

                    <div class="candidate-item">
                        <div class="left">
                            <h3><a routerLink="/candidate-details">Arielle Terry</a></h3>
                            <span>Web Developer</span>
                            <p>I’m IRanin dolor sit amet conscu adiing elitsed eusmod tempor</p>
                            <ul>
                                <li>Php</li>
                                <li>jQuery</li>
                                <li>WordPress</li>
                                <li>CSS3</li>
                                <li>HTML5</li>
                            </ul>
                            <div class="cmn-link">
                                <a routerLink="/single-resume"><i class="flaticon-right-arrow one"></i> View Resume
                                    <i class="flaticon-right-arrow two"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="candidate-item">
                        <div class="left">
                            <h3><a routerLink="/candidate-details">Alexander Max</a></h3>
                            <span>Senior UX/UI Designer</span>
                            <p>I’m Max dolor sit amet conscu adiing elitsed eusmod tempor</p>
                            <ul>
                                <li>CSS</li>
                                <li>Creative</li>
                                <li>Photoshop</li>
                                <li>Illustrator</li>
                                <li>HTML5</li>
                            </ul>
                            <div class="cmn-link">
                                <a routerLink="/single-resume"><i class="flaticon-right-arrow one"></i> View Resume
                                    <i class="flaticon-right-arrow two"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Candidate Details -->

<!-- Footer -->
<app-footer-style-two></app-footer-style-two>
<!-- End Footer -->